.navigation_bar > a {
  line-height: 3;
  font-weight: normal;
  color: #2b3a44;
  text-decoration: none;

  font-family: "Nunito Sans", sans-serif;
}

.navigation_bar {
  display: flex;
  justify-content: space-evenly;
}
